# Server
RATELIMITERX_SERVER_PORT=1234
RATELIMITERX_SERVER_MODE=debug

# MySQL
RATELIMITERX_DATABASE_HOST=localhost
RATELIMITERX_DATABASE_PORT=1234
RATELIMITERX_DATABASE_USER=root
RATELIMITERX_DATABASE_PASSWORD=your-db-password
RATELIMITERX_DATABASE_NAME=ratelimiterx

# Redis
RATELIMITERX_REDIS_ADDR=localhost:1234
RATELIMITERX_REDIS_PASSWORD=
RATELIMITERX_REDIS_DB=0

# JWT Secrets 
RATELIMITERX_JWT_ACCESS_SECRET=your-access-secret-key
RATELIMITERX_JWT_REFRESH_SECRET=your-refresh-secret-key
